<div>
    <h1>Добавить больницу</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form">
        <input type="text" name="disease" id="disease" class="form">
        <input type="text" name="city" id="city" class="form">
        <input type="text" name="adress" id="adress" class="form">
        <input type="text" name="link" id="link" class="form">
        <input type="number" name="coord_x" id="coord_x" class="form" step="0.000001">
        <input type="number" name="coord_y" id="coord_y" class="form" step="0.000001">
        <input type="submit" value="Отправить">
    </form>
</div>