<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div id="map-test" class="map"></div>
    <div id="data_div" style="visibility: hidden;">
        {{ data }}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=7240ea03-95e6-44f3-a9c4-e4b336df23ec">
        
    </script>
    <script src="static/script.js"></script>
</body>

</html>